h1{
  color: white;
  background-color: black;
}

h2{
  color: pink;
  font-family: "Brush Script MT", sans-serif;
  font-size: 3.5em;
  text-shadow: black 1px 1px 1px;
  font-weight: normal;
  margin: 0;
  padding: .25em 0 .25em 0;
  border-bottom: 1px solid #ccc;
  background-color: black;

}

body{
  background-color: black;
  font-family: "Zapf-Chancery", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 1em;
  color: white;
}

main{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
}
p{
  margin: auto;
  padding-bottom: 3em;
  font-family: "Brush Script MT", sans-serif;
  font-size: 2.5em;


}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}



nav li {
  width: 200px;
  display: inlne-block;
}

nav a {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: pink;
  width: 100px;
  color: black;
  transition: background-color 1.0s, width 2.0s, color 2.0s;S
}

nav li {
  display: inline-block;
}
nav a:hover {
  background-color: white ;
  width: 200px;
  color: black;
}

#slide1 {
  width: 500px;
  overflow: hidden;
}

#slide2 {
  width: 500px;
  overflow: hidden;
}

#slide3 {
  width: 500px;
  overflow: hidden;
}

#slide1 img {
  transition: .1s all;
  filter: blur(10px);
  width: 100%;
   margin-bottom: 1em;
}

#slide1:hover img{
  filter: blur(0px);
}

#slide2:hover img{
  filter: blur(0px);
}

#slide3:hover img{
  filter: blur(0px);
}

#slide2 img {
  transition: .1s all;
  filter: blur(10px);
}

#slide3 img {
  transition: .1s all;
  filter: blur(10px);
}
.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: white;
  animation: circle1-ani 10s linear infinite;
}

.circle2{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: white;
  animation: circle2-ani 10s linear infinite;
}
@keyframes circle1-ani {
  0%   { opacity: .0; left:0; top: 0; }
  50%  { opacity: .5; }
  100% { opacity: .0; left: 1000px; top:200px; }
}

@keyframes circle2-ani {
  0%   { opacity: .0; right:0; top: 0; }
  50%  { opacity: .5; }
  100% { opacity: .0; right: 1000px; top:200px; }
}

footer{
  font-family: "Brush Script MT" sans-serif;
	background-color: pink;
	color: white;
	padding: .5em;
	text-align: center;
}



@media all and (min-width: 50em){
  h1 { color: pink; }
	main {width: 70%; float: right; }
}
